@font-face {
    font-family: "DMSans";
    src: url(fonts/DMSans-VariableFont_opsz,wght.ttf) format("truetype");
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DMSans";
    src: url(fonts/DMSans-Italic-VariableFont_opsz,wght.ttf) format("truetype");
    font-weight: 100 1000; /* Dynamic font, use full allows full range to be used */
    font-style: italic;
    font-display: swap;
}

body {
    margin: 0; /* Make full use of the space on the website */
    font-family: "DMSans"; /* Font of choice */
    background-color: #FEFBEA; /* Cream background color; looks calming */
}

.top-line { /* Create a line spanning across the entire screen. WILL MAINLY BE USED FOR THE TOP! */
    width: 100%; /* Span across the screen */
    height: 30px; /* Line thickness */
    border: none; /* No border */
    margin-top: 0px; /* No space on top */
    margin-bottom: 0px; /* Leave some room for elements below */
    background-color: #807E75; /* Color */
}

.nav-bar {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 40px;
    gap: 50px;
}

.black-border {
    font-weight: 1000; /* Make initials thick */
    border: 4px solid #000000; /* Border around initials */
    padding: 5px 5px; /* verticle and horizontal padding between border and letters */
    border-radius: 10px; /* Thickness of border */
}

.nav-link {
    color: #000000;
    font-weight: 1000;

    text-decoration: none;

    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: "";
    position: absolute;
    background-color: #807E754D;
    left: -5px; /* How far left the element goes */
    right: -5px; /* How far right the element goes */
    bottom: 10px; /* How far from the bottom the element goes */
    height: 10px; /* Thickness of the bar */
    transition: 0.2s ease-in;
}

.nav-link:hover::after {
    height: 40px;
    bottom: 7px;
    transition: 0.2s ease-in;
}

#aboutme {
    text-align: center;
    font-size: 25px;
}

.about-me-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
    font-size: 20px;
}

.about-me-content img {
    border-radius: 50px;
}

.about-me-text {
    display: flex;
    flex-direction: column;
}